extends ../template

block variables
  - var title = 'Блог'
  - var nav = [{url:'my-works.html',name:'Мои работы'},{ url:'about.html',name:'Обо мне'},{ url:'my-blog.html',name:'Блог'},{url:'index.html' ,name:'Авторизация'}]
  - var box = 'triangle-box-lite'
block content
  .container
    section.section.header
      h2.visually-hidden Статьи которые я написал
      .header__top.header__top_p
        include ../common/header.pug
      .header__block
        .user.header__user
          .user__block-images
              img(src="./assets/img/logo.jpg", alt="logo").user__image
          .section-title.section-title_pos
              svg(class="icon-lite" width="100%" height="240")
                use(xlink:href="assets/img/sprite.svg#blog_header") 
          .user__description.user__description_l
            .user__name.user__name_max Блог
            .user__info Статьи которые я написал
        .arrow-down.arrow-down__btn_up
          button.arrow-down__btn(data-href="#section")
            svg(class="icon" width="28" height="28")
              use(xlink:href="assets/img/sprite.svg#arrow_down") 
            
    section.section.blog#section
      h2.visually-hidden Список статей которые я написал
      +tringleBox(box)
      .blog-block
        aside.blog-block__left.blog-block__left_toggle
          button.btn-aside.btn-aside_show
          ul.aside-menu.aside-menu_fix
            li.aside-menu__item
              a(href='#article01' class='aside-menu__link active') Самое важное в SASS
            li.aside-menu__item
              a(href='#article02' class='aside-menu__link') Приёмы в вёрстке, без которых не обходится ни один сайт
            li.aside-menu__item
              a(href='#article03' class='aside-menu__link') Самый необходимый набор Gulp плагинов
            li.aside-menu__item
              a(href='#article04' class='aside-menu__link') Почему я выбрал PUG
        .blog-block__right
          article.blog-description#article01
            h2.blog-description__title Самое важное в SASS
            .blog-description__date 
              time.time(datetime="2017-09-15") 15 сентября 2017
            .blog-description__text.text-content
              p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
              p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
              code Код
          article.blog-description#article02
            h2.blog-description__title Приёмы в вёрстке, без которых не обходится ни один сайт
            .blog-description__date
              time.time(datetime="2017-09-15") 15 сентября 2017
            .blog-description__text.text-content
              p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
              p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
              code Код
          article.blog-description#article03
            h2.blog-description__title Самый необходимый набор Gulp плагинов
            .blog-description__date
              time.time(datetime="2017-09-15") 15 сентября 2017
            .blog-description__text.text-content
              p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
              p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
              code Код
          article.blog-description#article04
            h2.blog-description__title Почему я выбрал PUG
            .blog-description__date
              time.time(datetime="2017-09-15") 15 сентября 2017
            .blog-description__text.text-content
              p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
              p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
              code Код
  include ../common/footer.pug
  include ../common/modal.pug