@mixin roboto($style : r){
    font-family: 'Roboto';
    @if $style == r {
        font-style: normal;
        font-weight: 400;
    }
    @if $style == b {
        font-style: normal;
        font-weight: 700;
    }
    @if $style == bi {
        font-style: italic;
        font-weight: 700;
    }
    @if $style == i {
        font-style: italic;
        font-weight: 400;
    }
    @if $style == l {
        font-style: normal;
        font-weight: 300;
    }
    @if $style == m {
        font-style: normal;
        font-weight: 500;
    }
    @if $style == li {
        font-style: italic;
        font-weight: 300;
    }
}
@mixin sansus($style : w){
    @if $style == w {
        font-family: 'SansusWebissimo';
        text-transform: uppercase;
        font-weight: normal;
    }
}
@mixin font($style : a){
    @if $style == a {
        font-family: 'FontAwesome';
        font-weight: normal;
    }
}
@mixin desktop{
    @media (max-width: 1800px){
        @content;
    }
}
@mixin laptop{
    @media (max-width: 1200px){
        @content;
    }
}
@mixin ipad{
    @media (max-width: 768px){
        @content;
    }
}
@mixin iphone{
    @media (max-width: 320px){
        @content;
    }
}